@mixin card($iconW,$iconH,$space,$fontSize,$fontColor){
  .card{
    display: flex;
    align-items: center;
    .icon{
      width: $iconW;
      min-width: $iconW;
      height: $iconH;
      padding-right: $space;
    }
    .content{
      font-size: $fontSize;
      color: $fontColor;
    }
  }
}
