@import "mixin";

.header{
  @include flex;
  height: .8rem;
  padding: 0 .96rem 0 .6rem;
  .title{
    color: #009688;
    font-size: .4rem;
  }
  .nav{
    font-size: .18rem;
    span{
      display: inline-block;
      margin-right: .31rem;
      &:last-child{
        margin: 0;
      }
    }
  }
}

