@import "header";
@import "card";

.home{
  .card-box{
    @include flex;
    height: 1.5rem;
    padding: 0 .96rem;
    background: #009688;
    @include card(.5rem,.5rem,.48rem,.24rem,#fff);
  }
  .caption{
    @include caption(.74rem);
  }
}